body {
	color: Black;
	border: none !important;
	background-color: White;
	font-family: Arial, Verdana, Tahoma !important;
	font-size: 10pt !important;
}

.main {
	border: 2px solid black;
	padding: 2px;
}
.card {
	position: relative;
	width: 398px;
}

.row {
	border-bottom: 1px dashed silver;
	min-height: 28px;
}

.indent {
	margin-left:20px;
}

.detail {
	margin: 0px 8px 0px 2px;
}

.stat {
	background-color: #dcdcdc;
}

.cursor-hand { 
	cursor:pointer; color:green
}